.content {
  font: 18px/28px Palatino, 'Palatino Linotype', Georgia, Times,
    'Times New Roman', serif;
  margin-bottom: 30px;
  text-rendering: optimizelegibility;

  .title {
    margin-bottom: 4px;
  }

  .date {
    color: #666;
    font-size: 16px;
  }

  h2 {
    font-size: 32px;
  }

  @media screen and (max-width: 800px) {
    h2 {
      font-size: 22px;
    }
  }

  h3 {
    font-size: 26px;
  }

  @media screen and (max-width: 800px) {
    h3 {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;
  }

  @media screen and (max-width: 800px) {
    h4 {
      font-size: 18px;
    }
  }

  hr {
    margin-bottom: 32px;
  }
}
